/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
/* font-family: 'PT Serif', serif; */
/*Globales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary);
}
p,li,button{
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}
/*Colores*/
:root{
    --primary: #000807;
    --primary-light: rgba(0, 0, 0, 0.898);
    --secundary: #e0ca3c;
    --three: #7a2f00;
    --fourth: #551211;
    --fifth: #fbf9ffec;
}

@media (min-width: 320px) {
    header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: var(--primary-light);
        padding: 4%;
        /* margin: -2%; */
        color: var(--secundary);
        position: sticky;
        top: 0;
        z-index: 999;
    }
    h1{
        font-family: 'Bebas Neue', cursive;
        /* padding-right: 10px; */
        margin-left:32%;
        margin-top: 5px;
        font-size: 1.3em;
    }
    h1 a:hover{
        color: var(--three);
    }
    
    header a{
        text-decoration: none;
        color: var(--secundary);
        font-size: 1.5em;
        margin-top: 10px;
    }
    /*Menu*/
    
    .menu{
        position: relative;
        display: inline-block;
        /* margin-left: auto; */
    }
    nav .icon{
        padding: 12px;
        font-size: 1.4em;
    }
    .dropdown{
        display: none;
        position: absolute;
        background-color: var(--primary-light);
        min-width: 220px;
        right: -25px;
        top:59px;
        padding: 12px 16px;
    }
    
    .menu:hover .dropdown{
        display: block;
    }
    
    .dropdown li{
        list-style:none;
    }
    
    .dropdown li a{
        color: var(--secundary);
        font-size: 1.2em;
    }
    .dropdown li a:hover{
        color: var(--three);
    }
    /*Main*/
    .ImagenMain{
        position: block;
        width: 100%;
    }
    .Discover{
        position:absolute;
        top: 11.5em;
        left: 10%;
    }
    .Discover h2{
        font-size: 1.1em;
        text-transform: uppercase;
        color: var(--fourth);
    }
    .btnCollection{
        position: relative; 
        left: 5.6em;
        top: 11.4em;  
        background-color: var(--fourth);
        border: none;
        padding: 0.8em;
        opacity: 85%; 
    }
    .btnCollection a{
        color:var(--fifth);
        text-decoration: none;
    }
    .btnCollection a:hover{
        color: var(--primary);
    }
    /*Section Product*/
    .Container{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;

    }
    .Container h2{
        color: var(--secundary);
        padding-top: 10%;
        text-align: center;
        font-family: 'PT Serif', serif;
    }
    .Product{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        color: var(--fifth);
        margin: 2%;
    }
    .Product p{
        color: var(--secundary);
        padding: 1%;
    }
    .btnProduct{
        border: none;
        background-color: var(--fourth);
        opacity: 75%;
        padding: 3%;
        border-radius: 4px;
    }
    .btnProduct:hover{
        opacity: 90%;
    }
    .btnProduct a{
        color: var(--fifth);
        text-decoration: none;
    }
    .btnProduct a:hover{
        color: var(--primary);
    }
    .ImgProduct img{
        align-items: center;
        width: 200px;
       }
    /*Newsletter*/
    .newsletter{
        padding: 5%;
        text-align: center;
        color:var(--fifth);
    }
    form label{
        color: var(--secundary);
    }

    /*Footer*/
    .footerNav{
        display: flex;
        justify-content: center;
        padding: 4%;
        /* flex-direction: column; */
        margin-top: 2%;
    }
    .footerNav li{
        font-size: 12px;
        list-style: none;
        margin: 6px;
        text-align: center;
    }
    .footerNav li a{
        text-decoration: none;
        color: var(--secundary);
    }
    footer p{
        font-size: 10px;
        text-align: center;
        color:var(--fifth);
    }
    footer p a{
        font-size: 10px;
        color: var(--secundary);
    }
    footer{
        border-top: 1px solid #fbf9ff3c;
    }
}
@media (min-width: 375px ) {
    header{
        width: 100%;
        margin: 0;
    }
    h1{
        margin-left: 40%;
    }
    .dropdown{
        top: 60px
    }
    .ImagenMain{
        max-width: 100vh;
    }
    .Discover{
        top:13em;
        left: 3em;
    }
    .Discover h2{
        font-size: 1.3em;
    }
    .btnCollection{
        top: 13em;
        left: 7em;
    }
}
@media (min-width: 425px) {
    header{
      width: 100vmin;
        margin: 0;
    }
    h1{
        margin-left: 40%;
    }
    .ImagenMain{
        min-width: 80vmin;
    }
    .Discover{
        top:14.5em;
        left: 15%;
    }
    .Discover h2{
        font-size: 1.4em;
    }
    .btnCollection{
        top: 16em;
        left: 33%;
    }
    /*Section Product*/
    .Container{
        width: 100%;
    }
    .ImgProduct img{
        width: 250px;
    }
}
@media (min-width: 768px) {
    header{
    width: 100%;
    }
    h1{
        padding-left: 5%;
    }
    /*Main*/
    main{
        width: 100%;
    }
    .ImagenMain{
      max-width: 100%;
    }
    .Discover{
        top: 25em;
        left: 20%;
    }
    .Discover h2{
        font-size: 2em;
    }
    .btnCollection{
        top: 22em;
        left: 33%;
        padding: 4%;
    }
    /*Section products*/
    .ImgProduct img{
        width: 300px;
    }
    .btnProduct{
        padding: 2%;
    }
    
}
@media (min-width: 1024px) {
    header{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    h1{
        font-size: 2em;
        position: relative;
        left: 6em;
    }
    .menu{
        right: 16.5em;
        display: flex;
        flex:auto
    }
    .menu:hover .dropdown{
        display: flex;
    }
    .dropdown{
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
        min-width: 800px;
        margin-top: 10%;
        margin-right: 10%;
    }
    .icon{
        display: none;
    }
    .dropdown ul{
        display: flex;
        flex: auto;
        padding: 1px;
        padding-left: 20px;
    }
    .dropdown li{
        margin-right: 3em;
    }
    .dropdown li a{
        display: flex;
        font-size: 1.2em;

    }
    /*Main*/
    main{
        display: flex;
    }
    .ImagenMain{
        width: 80%;
        margin: auto;
        padding: 1%;
    }
    .Discover {
        top: 28em;
        left: 28%;
    }
    .btnCollection{
        left:34%;
        padding: 5%;
    }
    .btnCollection a{
        font-size: 1.2em;
    }
    /*Products*/
    .Container h2{
        font-size: 2em;
    }
     .ContenedorProduct {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
    }
}
@media (min-width: 1285px) {
    h1{
        left: 4.5em;
    }
    .menu{
        right: 19em;
    }
    /*main*/
    .ImagenMain{
     width: 60%;   
  }
    .Discover{
        top: 27em;
        left: 33%;
    }
    .btnCollection{
        padding: 4%;
    }
    .btnCollection a{
        font-size: 1.3em;
    }
    /*Products*/
    .Container h2{
        font-size: 3em;
    }
    .btnProduct{
        padding: 5%;
    }
    .btnProduct a{
        font-size: 1em;
    }
    /*Newsletter*/
    .newsletter h2{
        font-size: 2em;
        padding-bottom: 1%;
    }
    .newsletter .email{
        padding: 0.6%;
    }
    .newsletter .Join{
        font-size: 1.2em;
        padding-left: 1%;
    }
    /*Footer*/
    .footerNav li{
        font-size: 1em;
    }

}
@media (min-width: 1440px) {
    .menu{
        right: 23em;
    }
    h1{
        left: 3em;
    }
    /*Main*/
    .ImagenMain{
        width: 60%;
        min-height: 20%;
    }
    .Discover{
        top: 29em;
        left: 35%;
    }
    .btnCollection{
        top: 26em;
        left: 28%;
        padding: 6%;
    }
    .btnCollection a{
        font-size: 1.5em;
    }
    /*Products*/
    .Container h2{
        font-size: 3em;
    }
    .btnProduct{
        padding: 5%;
    }
    .btnProduct a{
        font-size:1.2em;
    }
    /*Newsletter*/
    .newsletter h2{
        font-size: 2.5em;
        padding-bottom: 1%;
    }
    .newsletter .email{
        padding: 0.8%;
    }
    .newsletter .Join{
        font-size: 1.4em;
        padding-left: 1%;
    }
    /*Footer*/
    .footerNav li{
        font-size: 1em;
    }

}